<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">PERPUSTAKAAN MAKMUR BAHAGIA</a>
    </div>
    <ul class="nav navbar-nav">

    <%= form_tag root_path, method: :get, class: 'navbar-form navbar-left' do %>
      <div class="form-group">
        <%= text_field_tag :search, nil, class: 'form-control' %>
      </div>
      <%= submit_tag "Cari", class: 'btn btn-default' %>
    <% end %>
  </div>
</nav>

<div class="" style="width:80%;margin: 0 auto;">
  
  <% if @books.any? %>
    <h2>berdasarkan judul :</h2>  
    <% @books.each do |s| %>
      <h3><%= link_to s.title, book_path(s) %><h3>
      <h4><%= s.author %></h4>
      <p><%= truncate(s.synopsis, length: 100) %></p>
      <div style='clear: both'></div>
    <% end %>
  <% else %>
  <%= "tidak ada judul yang relevan" %>
  <% end %>

  <% if @hasil_search == nil %>
  <% else %>
    <% if @ikihasile.any? %>
      <h3>berdasarkan sinopsis :</h3>
      <% @ikihasile.each do |_key , value| %>
        <h3><%= link_to value.title, book_path(value) %><h3>
        <h4><%= value.author %></h4>
        <p><%= truncate(value.synopsis, length: 100) %></p>
        <div style='clear: both'></div>
      <% end %>
      <%= render "perhitungan" %>
    <% else %>
    <%= "tidak ada sinopsis yang relevan" %>
    <% end %>
  <% end %>

</div>











