<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">PERPUSTAKAAN MAKMUR BAHAGIA</a>
    </div>
    <ul class="nav navbar-nav">

    <%= form_tag root_path, method: :get, class: 'navbar-form navbar-left' do %>
      <div class="form-group">
        <%= text_field_tag :search, nil, class: 'form-control' %>
      </div>
      <%= submit_tag "Cari", class: 'btn btn-default' %>
    <% end %>
  </div>
</nav>
<ol>
    <li><h1><%= @dokumen %></h1></li>
    <li><h1><%= @query_input %></h1></li>
    <li><h1><%= @term %></h1></li>
    <li><h1><%= @idf %></h1></li>
    <li><h1><%= @tf %></h1></li>
    <li><h1><%= @data_tf %></h1></li>
    <li><h1><%= @data_perkata %></h1></li>
    <li><h1><%= @data_pembobobotan %></h1></li>
    <li><h1><%= @data_wd %></h1></li>
    <li><h1><%= @data_pecahan_wd %></h1></li>
    <li><h1><%= @total_wd %></h1></li>
    <li><h1><%= @panjang_vektor %></h1></li>
    <li><h1><%= @data_panjang_vektor %></h1></li>
    <li><h1><%= @sum_vektor %></h1></li>
    <li><h1><%= @sqrt_sum_vektor %></h1></li>
    <li><h1><%= @cos_sim %></h1></li>
    <li><h1><%= @result %></h1></li>
  </ol>









