<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">PERPUSTAKAAN MAKMUR BAHAGIA</a>
    </div>
    <ul class="nav navbar-nav">

    <%= form_tag root_path, method: :get, class: 'navbar-form navbar-left' do %>
      <div class="form-group">
        <%= text_field_tag :search, nil, class: 'form-control' %>
      </div>
      <%= submit_tag "Cari", class: 'btn btn-default' %>
    <% end %>
  </div>
</nav>

<div class="" style="width:80%;margin: 0 auto;">
  
  <% if @books.any? %>
  
  <table class="table table-bordered table-hover" style="">
    <thead>
      <tr class="text-center">
        <td>No</td>
        <td>Title</td>
        <td>author</td>
        <td>category</td>
        <td>Action</td>
      </tr>
    </thead>

    <tbody>
      <% no = 0 %>
      <% @books.each do |s| %>
      <tr>
        <td class="text-center"><%= no += 1 %></td>
        <td><%= s.title %></td>
        <td><%= s.author %></td>
        <td><%= s.category %></td>
        <td class="text-center"><%= link_to 'show', book_path(s) %> | <%= link_to 'edit', edit_book_path(s) %> | <%= link_to 'delete', book_path(s), method: :delete, data: {confirm: "are you sure ?"} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <br><br>
  <%= "data kosong, silahkan input data terlebih dahulu" %>
  <% end %>









  <% if @ikihasile.any? %>
  <table class="table table-bordered table-hover" style="">
    <thead>
      <tr class="text-center">
        <td>No</td>
        <td>Title</td>
        <td>author</td>
        <td>category</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <% no = 0 %>
      <% @ikihasile.each do |_key , value| %>
      <tr>
        <td class="text-center"><%= no += 1 %></td>
        <td><%= value.title %></td>
        <td><%= value.author %></td>
        <td><%= value.category %></td>
        <td class="text-center"><%= link_to 'show', book_path(value) %> | <%= link_to 'edit', edit_book_path(value) %> | <%= link_to 'delete', book_path(value), method: :delete, data: {confirm: "are you sure ?"} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <br><br>
  <%= "data kosong, silahkan input data terlebih dahulu" %>
  <% end %>
</div>

<%= render "perhitungan" %>









